<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폼 전송 결과 페이지</title>
    <link rel="stylesheet" href="/static/css/result.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div><span>희성님</span>환영합니다</div>
    <br />
    <div>아이디는<span><%= id %></span>이군요!!</div>
    <br />
    <div>비밀번호는<span><%= pw %></span>이군요!!</div>
    <br />
    <br />
    <br />
    <a href="/">go Home</a>
  </body>
</html>
